# https://stackoverflow.com/questions/60723010/clang-tidy-file-how-to-list-the-checks-in-multiple-lines
Checks: >
  *,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-member-init,hicpp-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -clang-diagnostic-format-nonliteral,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-deadcode.DeadStores,
  -clang-diagnostic-shadow,
  -concurrency-mt-unsafe,
  -llvm-else-after-return,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -misc-static-assert,
  -misc-non-private-member-variables-in-classes,
  -misc-redundant-expression,
  -misc-throw-by-value-catch-by-reference,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -cert-err58-cpp,
  -cert-msc32-c,
  -cert-msc51-cpp,
  -cert-msc30-c,
  -cert-msc50-cpp,
  -cert-err09-cpp,
  -cert-err61-cpp,
  -cert-env33-c,
  -google-explicit-constructor,
  -google-readability-todo,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-runtime-int,
  -bugprone-reserved-identifier,
  -bugprone-branch-clone,
  -bugprone-narrowing-conversions,
  -bugprone-signed-char-misuse,
  -bugprone-macro-parentheses,
  -bugprone-misplaced-widening-cast,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -android-cloexec-fopen,
  -android-cloexec-open,
  -fuchsia-default-arguments-declarations,
  -fuchsia-default-arguments-calls,
  -fuchsia-statically-constructed-objects,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-redundant-control-flow,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -readability-implicit-bool-conversion,
  -readability-convert-member-functions-to-static,
  -readability-redundant-access-specifiers,
  -readability-named-parameter,
  -readability-static-accessed-through-instance,
  -readability-make-member-function-const,
  -readability-uppercase-literal-suffix,
  -readability-non-const-parameter,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-deprecated-headers,
  -hicpp-explicit-conversions,
  -hicpp-use-auto,
  -hicpp-use-equals-default,
  -hicpp-use-equals-delete,
  -hicpp-use-nullptr,
  -hicpp-member-init,
  -hicpp-multiway-paths-covered,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-no-assembler,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-override,
  -hicpp-vararg,
  -modernize-use-override,
  -modernize-use-default-member-init,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-redundant-void-arg,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-equals-delete,
  -modernize-use-equals-default,
  -modernize-deprecated-headers,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -modernize-use-nullptr,
  -altera-struct-pack-align,
  -altera-id-dependent-backward-branch,
  -altera-unroll-loops





HeaderFilterRegex: '.*'
WarningsAsErrors: ''


