# https://stackoverflow.com/questions/60723010/clang-tidy-file-how-to-list-the-checks-in-multiple-lines
Checks: >
  *,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-narrowing-conversions,
  -concurrency-mt-unsafe,
  -clang-diagnostic-shadow,
  -llvm-else-after-return,
  -llvm-header-guard,
  -llvmlibc-restrict-system-libc-headers,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -bugprone-reserved-identifier,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -android-cloexec-fopen,
  -android-cloexec-open,
  -readability-magic-numbers,
  -readability-else-after-return,
  -readability-redundant-control-flow,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -hicpp-signed-bitwise,
  -hicpp-special-member-functions,
  -altera-struct-pack-align,
  -altera-id-dependent-backward-branch,
  -altera-unroll-loops





HeaderFilterRegex: '.*'
WarningsAsErrors: ''


