#!/usr/bin/make -f


# Enable hardening.
# http://wiki.debian.org/Hardening#dpkg-buildflags
DPKG_EXPORT_BUILDFLAGS = yes
include /usr/share/dpkg/default.mk

%:
	dh $@ --with autoreconf

# Don't strip anything from files containing <some string> in their
# name.  May be useful during debugging of application.
#override_dh_strip:
#	dh_strip -Xcw
